@font-face{
    font-family: "Century Gothic";
    src: url("font/SansSerifBldFLFCond.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, p, span, a{
    font-family: "Century Gothic", sans-serif;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.all{
    display: flex;
    width: 1024px;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banniere-index{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}
.infos{
    text-align: end;
    margin-right: 2rem;
}
.infos-name{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.infos-name h1, .infos-name span{
    width: 100%;
}
.main-job{
    margin-bottom: 0.5rem;
    font-size: 21px;
    font-style: italic;
}
.name{
    font-size: 3rem;
    margin: 0 0 40px;
}
.infos-redirection{
    display: flex;
    flex-wrap: wrap;
}
.link{
    width: 100%;
    margin-bottom: 0.5rem;
}
.link a, .link a, .link a, .link a{
    text-decoration: underline;
    color: black;
}
.photo{
    margin: 0 2rem;
}
.photo-profil{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.second-job{
    font-size: 14px;
    font-style: italic;
    color: #6e6e6e
}

/* ABOUT PAGE */
.header-logo{
    margin-top: 1rem;
}
.experiences-title{
    margin: 2rem 0 0 1rem;
    font-size: 40px;
    color: #2C4001;
}
.infos-about{
    display: flex;
    align-items: center;
    margin: 0 5rem;
}
.infos-about a{
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}
.infos-about a:hover{
    text-decoration: underline;
}
.infos-about .infos-logo, .infos-about .infos-job{
    font-size: 20px;
}
.infos-about .infos-job{
    margin-left: 2rem;
}
.info-together{
    display: flex;
    align-items: center;
    width: 50%;
}
.info-nav-together{
    width: 50%;
    text-align: end;
}
.info-together a{
    width: 10%;
}
.info-logo-lea{
    width: 100%;
}
.about{
    display: flex;
    width: 1024px;
    margin: auto;
    margin-top: 5rem;
    align-items: center;
}
.container-about{
    margin: 3.5rem 3.5rem 1rem;
}
.text-title{
    font-size: 40px;
    color: #2C4001;
}
.text-description, .text-description-2{
    font-size: 20px;
    text-align: justify;
}
.text-description-2{
    margin-bottom: 2.5rem;
}
.text-description:nth-child(2){
    margin-bottom: 3rem;
}
.hobbies-about{
    width: 1000px;
    margin: 8rem auto 2rem;
    justify-content: space-evenly;
    position: relative;
}
.hobbies-about img{
    width: 100%;
}
.hobbies-about video{
    width: 33%;
}
.firstVideo{
    position: absolute;
    top: 80px;
    left: 110px;
}
.secondVideo{
    position: absolute;
    top: 350px;
    right: 60px;
}
.photo-profil-about{
    width: 100%;
    object-fit: cover;
}
.photo-about{
    margin-left: 1rem;
}
.container-hobbies-about{
    width: 35%;
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    left: 60px;
}
.experiences{
    width: 1024px;
    margin: auto;
}
.img-experiences{
    width: 100%;
}
.allForma{
    text-align: center;
}
.allForma section{

    margin: 1rem;
}
.forma-display-stage, .forma-display-stage-right{
    position: relative;
}
.caron{
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 45%;
    border: 1px solid black;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    transform: rotate(270deg);
    cursor: pointer;
    color: #2C4001;
}
.caron:hover{
    background-color: #8CA653;
}
.caronRight{
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 45%;
    border: 1px solid black;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    color: #2C4001;
}
.caronRight:hover{
    background-color: #8CA653;
}
.forma{
    display: flex;
    justify-content: space-between;
}
.forma-display-stage, .forma-display-stage-right, .forma-text-stage {
    width: 50%;
    background-color: rgb(240, 232, 232);
    padding: 10px;
}
.forma-text-diplome{
    font-size: 21px;
}
.forma-text-date{
    font-style: italic;
}
.master2{
    margin: 1rem 0 0;
}
.master2-and{
    margin: 0;
}
.forma-text-stage{
    display: none;
}
.forma.align-right{
    justify-content: end;
}
.forma-display-stage.active > .caron{
    transform: rotate(90deg);
    transition: 1s;
}
.forma-display-stage-right.active > .caronRight{
    transform: rotate(270deg);
    transition: 1s;
}
.more{
    font-style: italic;
}
.forma-text{
    font-size: 18px;
}
h2.forma-text{
    font-size: 21px;
    color: #2C4001;
}

/* PROJECTS PAGE */ 

.banniere-project{
    margin-bottom: 5rem;
}
.second-text{
    margin-bottom: 5rem;
}
.projects{
    width: 1024px;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
}
.projects-logo{
    margin-bottom: 2rem;
    width: 300px;
    object-fit: cover;
}
.content video, .second-content video{
    width: 30%;
    height: 450px;
}
.projects-content-text{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.projects-content-text img{
    width: 40%;
}
.projects-content{
    margin: 0 2rem;
}
.second-content video{
    height: 350px;
}
.content-valdeluce, .content-initsport, .content-jobdating{
    display: flex;
    justify-content: space-between;
}
.content-valdeluce img, .content-initsport img, .content-jobdating img{
    width: 30%;
    height: 450px;
    object-fit: cover;
}

/* CONTACT PAGE */
.contact{
    margin-top: 4rem;
}
.contact-section{
    width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
}
.contact-logo{
    margin-left: 5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.fa-linkedin, .fa-envelope{
    font-size: 40px;
    color: #2C4001;
}