body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.all{
    display: flex;
    width: 1200px;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.infos{
    text-align: end;
    margin-right: 2rem;
}
.infos-name{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.infos-name h1, .infos-name span{
    width: 100%;
}
.main-job{
    margin-bottom: 0.5rem;
    font-size: 21px;
}
.name{
    font-size: 2rem;
    margin: 0 0 40px;
}
.infos-redirection{
    display: flex;
    flex-wrap: wrap;
}
.link{
    width: 100%;
    margin-bottom: 0.5rem;
}
.link a, .link a, .link a, .link a{
    text-decoration: underline;
    color: black;
}
.photo{
    margin-left: 4rem;
}
.photo-profil{
    border-radius: 50%;
    object-fit: cover;
}

/* ABOUT PAGE */
.infos-about{
    display: flex;
    align-items: center;
    margin: 0 5rem;
    justify-content: space-between;
}
.infos-about a{
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}
.infos-about a:hover{
    text-decoration: underline;
}
.infos-about .infos-logo, .infos-about .infos-job{
    font-size: 20px;
}
.infos-about .infos-job{
    margin-left: 2rem;
}
.info-together{
    display: flex;
    align-items: center;
}
.about{
    display: flex;
    width: 1200px;
    margin: auto;
    margin-top: 5rem;
}
.container-about{
    margin: 3.5rem 3.5rem 1rem;
}
.text {
    transform: translateX(100px) translateY(50px);
}
.text-title{
    font-size: 40px;
    color: #2C4001;
}
.text-description, .text-description-2{
    font-size: 20px;
    text-align: justify;
}
.text-description-2{
    margin-bottom: 2.5rem;
}
.text-description:nth-child(2){
    margin-bottom: 3rem;
}
.hobbies-about{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 8rem auto 2rem;
    justify-content: space-evenly;
}
.hobbies-about video{
    width: 33%;
}
.photo-profil-about{
    width: 100%;
    object-fit: cover;
}
.container-hobbies-about{
    width: 50%;
    padding: 20px 40px;
    background-color: rgb(240, 232, 232);
    transform: translateY(-60px);
}
.experiences{
    width: 1200px;
    margin: auto;
}
.allForma{
    text-align: center;
}
.allForma section{

    margin: 1rem;
}
.forma-display-stage, .forma-display-stage-right{
    position: relative;
}
.caron{
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 45%;
    border: 1px solid black;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    transform: rotate(270deg);
    cursor: pointer;
}
.caron:hover{
    background-color: #72a701;
}
.caronRight{
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 45%;
    border: 1px solid black;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    transform: rotate(90deg);
    cursor: pointer;
}
.caronRight:hover{
    background-color: #72a701;
}
.forma{
    display: flex;
    justify-content: space-between;
}
.forma-display-stage, .forma-display-stage-right, .forma-text-stage {
    width: 50%;
    background-color: rgb(240, 232, 232);
}
.forma-text-diplome{
    font-size: 21px;
}
.forma-text-date{
    font-style: italic;
}
.master2{
    margin: 1rem 0 0;
}
.master2-and{
    margin: 0;
}
.forma-text-stage{
    display: none;
}
.forma.align-right{
    justify-content: end;
}
.forma-display-stage.active > .caron{
    transform: rotate(90deg);
    transition: 1s;
}
.forma-display-stage-right.active > .caronRight{
    transform: rotate(270deg);
    transition: 1s;
}
.more{
    font-style: italic;
}
.forma-text{
    font-size: 18px;
}
h2.forma-text{
    font-size: 21px;
    color: #2C4001;
}

/* PROJECTS PAGE */ 

hr{
    margin: 4rem 0;
}
.projects{
    width: 1024px;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
}
.projects-logo{
    margin-bottom: 2rem;
    width: 400px;
    object-fit: cover;
}
.content video, .second-content video{
    width: 30%;
    height: 450px;
}
.projects-content-text{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.projects-content-text img{
    width: 40%;
}
.projects-content{
    margin: 0 2rem;
}
.second-content video{
    height: 350px;
}
.content-valdeluce, .content-initsport, .content-jobdating{
    display: flex;
    justify-content: space-between;
}
.content-valdeluce img, .content-initsport img, .content-jobdating img{
    width: 30%;
    height: 450px;
    object-fit: cover;
}